@media (max-width: 1000px) {


    /*******************************************************/
    body {
        overflow-x:hidden;
        width: 1000px;
  
    }
    .size {
    }
    .backgraund_panda {
    }
    .header {
    }
    .header_container {
        padding: 0 30px;;
    }
    .header_menu {
    }
    .logo {
        height: 52px;
        width: 82px;
    }
    .menu__icon {
    }
    .menu__body {
    }
    .menu__list {
        width: 431px;
    }
    .menu_link {
    }
    .header_designed {
    }
    .designed {
    }

    .header {
        z-index: 2;
        position: relative;
        overflow:hidden;
    }

    .backgraund_panda {
        background: url('./img/Giant_Panda_1000px.svg') center center no-repeat;
        height: 504px;
        width: 1000px;
    }
    .ellipse {
        position: relative;
        height: 367px;
        width: 367px;
        margin-left: 456px;
        top: -12px;
        background: url('./img/Ellipse_1000px.svg') center center no-repeat;
        
        
    }
    .text_section1 {
        left: 514px;
        top: 55px;
 
    }
    .text_panda {
        height: 320px;
        width: 400.2474670410156px;
        font-size: 85px;
    }
    .favorite {
    }
    .btn_panda {
        margin-top: 52px;
        margin-left: 565px;
        margin-bottom: 35px;

    }
    .section2 {
        padding: 0;
        margin: 0 30px;
        width: 940px;
        margin-top: 100px;
        margin-bottom: 142px;
        
    }
    
    .flex_section2 {
        display: flex;
        gap: 31px;
        height: 427px;
    }
    
    .div_oldman {
        background: url('./img/oldman.svg') center center no-repeat;
        height: 408px;
        width: 455px;
        margin: auto;
    }
    
    .h2_oldman {
        font-size: 48px;
        font-weight: 400;
        line-height: 58px;
        height: 116px;
        width: 454px;
        margin-bottom: 20px;
    }
    .p1_oldman {
        font-size: 16px;
        height: 42px;
        margin-bottom: 54px;
        height: 42px;
        width: 454px;

    }
    .h3_oldman {
        font-size: 24px;
        width: 217px;
        height: 29px;
        margin-bottom: 34px;
    }
    .p2_oldman {
        width: 454px;
        height: 132px;
        font-size: 16px;
    }
    
    
    .flowers {
        display: none;
    }

    .palm {
        background: url('./img/palm_foto_1000px.svg') no-repeat;
        width: 192px;
        height: 202px;
    }
    .strelizia {
        background: url('./img/strelitzia_1000px.svg') no-repeat;
        width: 241px;
        height: 180px;
    }

    .photo {
    }

    .animal {
    
    width: 293px;
    height: 293px;
    
}
    .animals {
        padding-right: 0px;
        padding-left: 0px;

    }
    .pets_arrow {
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translateY(-50%);
        height: 62px;
        width: 295px;
        position: absolute;
        z-index: 5;
    }

    .block_pets {
        column-gap: 20px;
        row-gap: 92px; /******************/
        height: 806px;
        width: 940px;
        
    }
    .pets {
        height: 354px;
        width: 294px;
    }
    .information_pets {

        width: 267px;
    }
    .animal1 {
        background: url('./img/foto-card1-panda.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .animal2 {
        background: url('./img/foto-card2-eagle.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .animal3 {
        background: url('./img/foto-card3-gorilla.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .animal4 {
        background: url('./img/foto-card5-sloth.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .animal5 {
        background: url('./img/foto-card6-cheetah.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .animal6 {
        background: url('./img/foto-card7-penguin.jpg') center center no-repeat;
        width: 294px;
        height: 294px;
    }
    .information_pets {
    }
    .pets_font_name {
    }
    .pets_font_location {
    }
    .arrow_right {
    }
    .btn_arrow_right {
    }
    .btn_choose {
        margin-top: 80px;
        margin-bottom: 140px;
    }
    .btn_choose_font {
    }
    .section4 {
    }
    .pick_background {
        margin: 30px 30px 50px 30px;
    }
    .text_pick_and_feed {
        margin-top: 30px;
        margin-left: 49px;
    }
    .h2_pick_and_feed {
        color: var(#FE9013);
        font-size: 48px;
        font-weight: 400;
        margin: 0px 48px 20px 0;

   
    }
    .weKnow {
        margin-bottom: 20px;
    }
    .during {
        margin-bottom: 10px;
        margin-right: 78px;
    }
    .even {
        margin-right: 68px;
    }
    .emergency_link {
    }
    .how_it_works {
        margin-top: 40px;
        height: 47px;
    }
    .cards_how_it_works {
    }
    .column {
    }
    .card {
    }
    .text_of_cards {
    }
    .vector_right {
    }
    .vector_pick {
    }
    .button_feed {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .button_feed_size {
    }
    .btn_feed {
    }
    .container_testimonials {
        margin: 100px 30px 140px 30px;
    }
    .testimonials {
    }
    .header_testimonials {
        margin-bottom: 30px;
    }
    .reviews_display_none {
        display: none;
    }
    .h3_testimonials {
    }
    .user_block {
        column-gap: 30px;
    }
    .reviews {    
        height: 391px;
        width: 289px;
    }
    .user_info_block {
    }
    .user_info {
    }
    .user_photo {
    }
    .user_name {
    }
    .user_name_font {
    }
    .user_local_font {
    }
    .local {
    }
    .user_review_block {
        margin: 0px 15px 19px 16px;
    }
    .user_review {
    }

    .progress_bar_testimonials_container {
        margin-top:20px;
        margin-bottom: 52px;
    }
    
    .progress_bar_testimonials {
        width: 390px;
        height: 8px;
    }
    .btn_testimonials {
    }
    .leav_foto {
        background: url('./img/a3.svg') center center no-repeat;
        position: absolute;
        width: 239px ;
        height: 235px;
        right: -15px;
        bottom: -144px;
    }
    .container_footer {
        /*height: 443px;*/
        
    }
    .first_line {
        margin-right: 18px;
        margin-left: 43px;
    }
    .petStory {
        margin-top: 41px;
        margin-bottom: 68px;
    }
    .subscribe {
        padding-right: 32px;
    }
    .subscribe_text {
    }
    .subscribe_input {
    }
    .subscribe_submit {
    }
    .second_line {
        margin-right: 18px;
        margin-left: 43px;
        margin-bottom: 44px;
    }
    .donate {
    }
    .btn_donate {
    }
    .three_line {
        margin-right: 18px;
        margin-left: 43px;
        padding-bottom: 50px;
    }
    .social_links_div {
    }
    .social_link_footer {
    }
    .container_link_footer {
    }
    .circle_link_footer {
    }
    .link_name_footer {
    }
    .ullink {
    }
    .nav_footer {
    }
    .menu_nav_footer {
        width: 332px;
        margin-left: 189px;
        margin-right: 88px;
        margin-top: 112px;
    
    }
    .menu_link_footer_about {
    }
    .menu_link_footer {
    }
    .designedBy {
        margin-right: 18px;
    }
    .designed_link {
    }
    .designed_by {
    }
    .rsschool {
    }
}